{% extends 'layout/base.html' %}
{% load static %}
{% block css %}

  <style>
     body{
        background-image: url('{% static "images/bbg.jpg" %}');
        }

    .card-body{
        margin-top: 90px;
        text-align: center;
        background-image: linear-gradient( -225deg, #49d5ff , #ffffff , #28ffdb );
        box-shadow: 2px 4px 8px  rgba(0, 0, 0, 0.2), 2px 6px 20px  rgba(0, 0, 0, 0.19), 2px 6px 20px  rgba(0, 0, 0, 0.19);
          border-radius: 25px;
          text-align: center;
        border-radius: 25px;
    }
    .container1{
        text-align: center;
        margin-top: -50px;
    }
    hr.hline{
        border: 5px solid black;
    }

    .col.px-0{
        padding-top: 250px;
        margin-left: 650px;
    }

    .progress{
        margin: 50px;
        min-height: 50px;
    }

  </style>
  {% endblock css %}
<body>

{% block content %}

            {% for item in results %}
                <div class="col-6 mx-auto">
                    <div class="card-body">
                        <h2 style="padding-top: 25px;">Current Status : {{item.status}}</h2>
                        {% if item.status == "Your Complaint Has Been Resolved." %}
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated  bg-success" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">100%</div>
                          </div>
                        {% elif item.status == "Complaint Has Been Submitted." %}
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 33%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">33%</div>
                          </div>
                          {% elif item.status == "Complaint Is Under Progress." %}
                          <div class="progress">
                              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning " role="progressbar" style="width: 66%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">66%</div>
                            </div>
                            {% else %}
                          <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger " role="progressbar" style="width: 33%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">33%</div>
                          </div>
                        {% endif %}
                        <h3>Complaint Details : </h3> <br>
                        <img src="{{item.image.url}}" class="rounded float-center"  alt="img" style=" height:200px ;width:200px ; margin-bottom: 20px; "> <br>
                                <h4> Name : {{item.name}}</h4> 
                                <h4> Email : {{item.email}}</h4>
                                <h4> Department : {{item.department}}</h4>
                                <h4> Detail : {{item.detail}}</h4>
                                <h4> Added On : {{item.date}}</h4>
                                

                                    

                            </div>
                        </div>
            {% empty %}
            <div class="col px-0" style="margin-top: -200px;">
                <img src="{% static 'images\404.png' %}"  alt="background image" class="img-fluid" width="45%">
            </div>
            <div class="container1">
            <h2>No results found</h2></br>
            <h4>Please check your complaint number</h4></br>
            <a href="{% url 'status' %}" class="btn btn-primary">Go Back</a>
            </div>

            {% endfor %}
            
        </div>
    </div>
</div>
{% endblock content %}
    
</body>
</html>